#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display{
  height: 20px;
  border-style: solid;
  border-color: black;
  text-align: right;
}

#equation{
  height: 15px;
  border-style: solid;
  border-color: black;
}

#buttons{
  display: flex;
  flex-wrap: wrap;
  .button{
    width: 25%;
  }
  .mediumButton{
    width: 50%;
  }
  .bigButton{
    width: 75%;
  }
}

